.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #61dafb;
}

.toggleButton.react-toggle--checked .react-toggle-track {
  background-color: yellow;
}
