body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  --red: rgb(94, 13, 13);
  background-color: var(--bg);
}

body.light {
  --bg: #ffffff;
  --header: var(--red);
  --textNormal: #222;
  --textTitle: #222;
  --textDisabled: #8b8686;
  --textLink: #61dafb;
  --hr: hsla(0, 0%, 0%, 0.2);
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #282c35;
  --header: #ffffff;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: #ffffff;
  --textDisabled: #8b8686;
  --textLink: #61dafb;
  --hr: hsla(0, 0%, 100%, 0.2);
  --inlineCode-bg: hsl(222, 14%, 25%);
  --inlineCode-text: #e6e6e6;
}
header {
  color: var(--header);
}
div {
  color: var(--textNormal);
}
button {
  color: var(--textTitle);
}
button.disabled {
  color: var(--textDisabled);
}
